.bg-Logo{
    width: 143px; height: 29px;
    background: url('../img/css_sprites.png') -168px -10px;
}
.bg-Logo_1 {
    width: 138px; height: 32px;
    background: url(' ../img/css_sprites.png') -10px -10px;
}
.bg-Logo_2 {
    width: 127px; height: 30px;
    background: url(' ../img/css_sprites.png') -168px -59px;
}
.bg-Logo_3 {
    width: 124px; height: 26px;
    background: url(' ../img/css_sprites.png') -168px -109px;
}
.bg-Logo_4 {
    width: 134px; height: 32px;
    background: url(' ../img/css_sprites.png') -10px -114px;
}
.bg-Logo_5 {
    width: 137px; height: 32px;
    background: url(' ../img/css_sprites.png') -10px -62px;
}